In [1]:
import datasets
import pandas as pd
import numpy as np

In [2]:
ds_filtered = datasets.load_dataset("emnlp2023/calc-math_qa", split="test")

In [49]:
df_orig = pd.read_json("../data/math_qa/test.jsonl", lines=True)

In [48]:
df_filtered = ds_filtered.to_pandas()
df_filtered

,problem,rationale,correct,options,options_float,annotated_formula,linear_formula,chain,index
0,a shopkeeper sold an article offering a discou...,"""giving no discount to customer implies sellin...",a,"{'a': '38 ', 'b': '27.675 ', 'c': '30 ', 'd': ...","{'a': 38.0, 'b': 27.675, 'c': 30.0, 'd': None,...","subtract(divide(multiply(add(const_100, 31.1),...","add(n1,const_100)|subtract(const_100,n0)|multi...","<gadget id=""calculator"">100 + 31.1</gadget>\n<...",0
1,what will be the difference between simple and...,"""s . i . = ( 1000 * 14 * 4 ) / 100 = rs . 560 ...",a,"{'a': '129 ', 'b': '130 ', 'c': '124 ', 'd': '...","{'a': 129.0, 'b': 130.0, 'c': 124.0, 'd': 133....","subtract(subtract(multiply(1000, power(add(div...","divide(n0,const_100)|add(#0,const_1)|multiply(...","<gadget id=""calculator"">14 / 100</gadget>\n<ou...",1
2,there are 28 stations between hyderabad and ba...,"""the total number of stations = 30 from 30 sta...",c,"{'a': '156 ', 'b': '167 ', 'c': '870 ', 'd': '...","{'a': 156.0, 'b': 167.0, 'c': 870.0, 'd': 352....","multiply(add(28, const_1), add(add(28, const_1...","add(n0,const_1)|add(#0,const_1)|multiply(#0,#1)|","<gadget id=""calculator"">28 + 1</gadget>\n<outp...",2
3,the sum of all the integers s such that - 26 <...,"""easy one - - 25 , - 24 , - 23 , - 22 , . . . ...",d,"{'a': '0 ', 'b': '- 2 ', 'c': '- 25 ', 'd': '-...","{'a': 0.0, 'b': -2.0, 'c': -25.0, 'd': -49.0, ...","add(add(negate(26), const_1), add(add(negate(2...","negate(n0)|add(#0,const_1)|add(#1,const_1)|add...","<gadget id=""calculator"">-26</gadget>\n<output>...",5
4,a full stationary oil tank that is a right cir...,"""the volume of oil pumped to the tank = the vo...",a,"{'a': '0.036 ', 'b': '0.36 ', 'c': '0.6 ', 'd'...","{'a': 0.036, 'b': 0.36, 'c': 0.6, 'd': 6.0, 'e...","divide(volume_cylinder(6, 10), circle_area(100))","circle_area(n0)|volume_cylinder(n2,n3)|divide(...","<gadget id=""calculator"">pi * (6 ** 2) * 10</ga...",6
...,...,...,...,...,...,...,...,...,...
2024,there are 690 male and female participants in ...,female = x male = 690 - x x / 2 + 690 - x / 4 ...,c,"{'a': '75 ', 'b': '100 ', 'c': '115 ', 'd': '1...","{'a': 75.0, 'b': 100.0, 'c': 115.0, 'd': 175.0...","divide(subtract(multiply(divide(690, const_3),...","divide(n0,const_3)|multiply(#0,const_4)|subtra...","<gadget id=""calculator"">690 / 3</gadget>\n<out...",2979
2025,find the area of a parallelogram with base 20 ...,"""area of a parallelogram = base * height = 20 ...",c,"{'a': '100 cm 2 ', 'b': '250 cm 2 ', 'c': '800...","{'a': 100.0, 'b': 250.0, 'c': 800.0, 'd': 296....","multiply(20, 40)","multiply(n0,n1)|","<gadget id=""calculator"">20 * 40</gadget>\n<out...",2980
2026,a can do a piece of work in 6 hours ; b and c ...,"""a ' s 1 hour work = 1 / 6 ; ( b + c ) ' s 1 h...",d,"{'a': '8 hours ', 'b': '6 hours ', 'c': '14 ho...","{'a': 8.0, 'b': 6.0, 'c': 14.0, 'd': 12.0, 'e'...","divide(const_1, subtract(divide(const_1, 4), s...","divide(const_1,n1)|divide(const_1,n2)|divide(c...","<gadget id=""calculator"">1 / 4</gadget>\n<outpu...",2982
2027,a train 250 m long running at 72 kmph crosses ...,"""d = 72 * 5 / 18 = 30 = 600 â € “ 250 = 350 m ...",a,"{'a': '350 m ', 'b': '200 m ', 'c': '250 m ', ...","{'a': 350.0, 'b': 200.0, 'c': 250.0, 'd': 270....","subtract(multiply(30, multiply(72, const_0_277...","multiply(n1,const_0_2778)|multiply(n2,#0)|subt...","<gadget id=""calculator"">10 / 36</gadget>\n<out...",2983
2028,4 shepherds were watching over the flocks and ...,akar has = ram + rahul + john after evenly dis...,b,"{'a': '2 ', 'b': '3 ', 'c': '4 ', 'd': '5', 'e...","{'a': 2.0, 'b': 3.0, 'c': 4.0, 'd': 5.0, 'e': ...","divide(subtract(multiply(11, const_2), add(4, ...","add(n0,n1)|add(n0,const_1)|multiply(n4,const_2...","<gadget id=""calculator"">11 * 2</gadget>\n<outp...",2984

In [4]:
ids_filtered = set(df_filtered["index"])
ids_orig = set(df_orig["index"])

assert ids_filtered.issubset(ids_orig)

print("Number of examples in original test set:", len(ids_orig))
print("Number of examples in filtered test set:", len(ids_filtered))
print("Number of examples dropped:", len(ids_orig - ids_filtered))

ids_dropped = ids_orig - ids_filtered

np.random.seed(0)
ids_for_manual_eval = np.random.choice(list(ids_dropped), 20, replace=False)

Number of examples in original test set: 2985
Number of examples in filtered test set: 2029
Number of examples dropped: 956

In [5]:
for row in df_orig.iloc[ids_for_manual_eval].itertuples():
    print("idx", row.index)
    print(row.Problem)
    print(row.options, "---", row.correct)
    print(row.Rationale)
    print()

idx 1787
tickets to a certain concert sell for $ 20 each . the first 10 people to show up at the ticket booth received a 40 % discount , and the next 20 received a 15 % discount . if 60 people bought tickets to the concert , what was the total revenue from ticket sales ?
a ) $ 600 , b ) $ 740 , c ) $ 850 , d ) $ 980 , e ) $ 1,240 --- e
"price of 1 ticket = 20 $ revenue generated from sales of first 10 tickets = 10 * ( 60 / 100 * 20 ) = 10 * 12 = 120 revenue generated from sales of next 20 tickets = 20 * ( 85 / 100 * 20 ) = 20 * 17 = 340 revenue generated from sales of last 30 tickets = 30 * 26 = 780 revenue generated from sales of 60 tickets = 120 + 340 + 780 = 1240 $ answer e"

idx 1856
an aeroplane covers a certain distance at a speed of 300 kmph in 6 hours . to cover the same distance in 1 2 / 3 hours , it must travel at a speed of :
a ) 1008 kmph , b ) 760 kmph , c ) 1080 kmph , d ) 1070 kmph , e ) none --- c
"explanation : distance = ( 300 x 6 ) = 1800 km . speed = distance / time speed = 1800 / ( 5 / 3 ) km / hr . [ we can write 1 2 / 3 hours as 5 / 3 hours ] required speed = 1800 x 3 / 5 km / hr = 1080 km / hr . answer : option c"

idx 2060
johnny travels a total of one hour to and from school . on the way there he jogs at 6 miles per hour and on the return trip he gets picked up by the bus and returns home at 20 miles per hour . how far is it to the school ?
a ) 2 miles , b ) 4 miles , c ) 4.8 miles , d ) 9.2 miles , e ) 10 miles --- d
"answer : d ) 9.2 miles . average speed for round trip = 2 * a * b / ( a + b ) , where a , b are speeds so , average speed was = 2 * 6 * 20 / ( 6 + 20 ) = 9.2 m / hr the distance between schoolhome should be half of that . ie . 9.2 miles answer d"

idx 1287
a , b and c rents a pasture for rs . 899 . a put in 12 horses for 8 months , b 16 horses for 9 months and 18 horses for 6 months . how much should c pay ?
a ) 270 , b ) 279 , c ) 267 , d ) 255 , e ) 552 --- b
"12 * 8 : 16 * 9 = 18 * 6 8 : 12 : 9 9 / 29 * 899 = 279 answer : b"

idx 2127
the population of a town increased from 1 , 75,000 to 2 , 62,500 in a decade . what is the average percent increase of population per year ?
a ) 4 % , b ) 6 % , c ) 5 % , d ) 50 % , e ) none of these --- c
"explanation : increase in the population in 10 years = 2 , 62,500 - 1 , 75,000 = 87500 % ncrease in the population in 10 years = ( 87500 / 175000 ) × 100 = 8750 / 175 = 50 % average % increase of population per year = 50 % / 10 = 5 % answer : option c"

idx 669
if 12 men and 16 boys can do a piece of work in 7 days and 13 men together will 24 boys can do it in 4 days . compare the daily work done by a man with that of a boy .
a ) 1 : 4 , b ) 1 : 2 , c ) 1 : 3 , d ) 2 : 1 , e ) 4 : 1 --- b
"12 m + 16 b - - - - - 7 days 13 m + 24 b - - - - - - - 4 days 84 m + 112 b = 52 m + 96 b 32 m = 16 b = > 2 m = b m : b = 1 : 2 answer : b"

idx 305
suzie ’ s discount footwear sells all pairs of shoes for one price and all pairs of boots for another price . on monday the store sold 22 pairs of shoes and 16 pairs of boots for $ 540 . on tuesday the store sold 8 pairs of shoes and 32 pairs of boots for $ 720 . how much more do pairs of boots cost than pairs of shoes at suzie ’ s discount footwear ?
a ) 12 , b ) 11 , c ) 10 , d ) 15 , e ) 16 --- c
"let x be pair of shoes and y be pair of boots . 22 x + 16 y = 540 . . . eq 1 8 x + 32 y = 720 . . . . eq 2 . now multiply eq 1 by 2 and sub eq 2 . 44 x = 1080 8 x = 720 . 36 x = 360 = > x = 10 . sub x in eq 2 . . . . we get 80 + 32 y = 720 . . . then we get 32 y = 640 then y = 20 differenece between x and y is 10 answer : c"

idx 2453
a fruit seller had some oranges . he sells 40 % oranges and still has 600 oranges . how many oranges he had originally ?
a ) 700 , b ) 710 , c ) 1000 , d ) 730 , e ) 740 --- c
"60 % of oranges = 600 100 % of oranges = ( 600 × 100 ) / 6 = 1000 total oranges = 1000 answer : c"

idx 2475
evaluate : 11110 + 24 * 3 * 10 = ?
a ) 90111 , b ) 52631 , c ) 11190 , d ) 65321 , e ) 11133 --- c
"according to order of operations , 24 ? 3 ? 10 ( division and multiplication ) is done first from left to right 24 / 2 = 8 * 10 = 80 hence 11110 + 24 * 3 * 10 = 11110 + 80 = 11190 correct answer c"

idx 877
a person spends 40 % of his salary on food , 25 % on house rent , 15 % on entertainment and 5 % on conveyance . if his savings at the end of the month is rs . 1500 , then his salary per month in rupees is :
a ) 4000 , b ) 6000 , c ) 8000 , d ) 10000 , e ) none of these --- d
"total expenditure = 40 + 25 + 15 + 5 = 85 % saving = ( 100 - 85 ) = 15 % 15 / 100 × salary = 1500 , salary = 10000 rs . answer : d"

idx 2091
a trader bought a car at 25 % discount on its original price . he sold it at a 40 % increase on the price he bought it . what percent of profit did he make on the original price ?
a ) 118 , b ) 110 , c ) 105 , d ) 113 , e ) 115 --- c
"original price = 100 cp = 75 s = 75 * ( 140 / 100 ) = 105 100 - 105 = 5 % answer : c"

idx 475
find the area of a rhombus one side of which measures 20 cm and one diagonal is 24 cm ?
a ) 320 cm 2 , b ) 280 cm 2 , c ) 384 cm 2 , d ) 290 cm 2 , e ) 350 cm 2 --- c
"let other diagonal = 2 x cm . since diagonals of a rhombus bisect each other at right angles , we have : ( 20 ) 2 = ( 12 ) 2 + ( x ) 2 = > x = √ ( 20 ) 2 – ( 12 ) 2 = √ 256 = 16 cm . so , other diagonal = 32 cm . area of rhombus = ( 1 / 2 ) x ( product of diagonals ) = ( 1 / 2 × 24 x 32 ) cm 2 = 384 cm 2 hence c"

idx 1533
the population of a town increased from 1 , 34,800 to 2 , 42,500 in a decade . the average percent increase of population per year is :
a ) 4.37 % , b ) 7.9 % , c ) 6.8 % , d ) 8.75 % , e ) none --- b
"explanation : increase in 10 years = ( 242500 - 134800 ) = 107700 increase % = ( 107700 / 134800 x 100 ) % = 79 % . required average = ( 79 / 10 ) % = 7.9 % . answer : option b"

idx 543
the population of a bacteria colony doubles every day . if it was started 8 days ago with 3 bacteria and each bacteria lives for 12 days , how large is the colony today ?
a ) 512 , b ) 768 , c ) 13122 , d ) 2048 , e ) 4096 --- c
"3 ^ 8 * ( 2 ) = 13122 the answer is c"

idx 1458
the sum of digits of a two digit number is 8 , the difference between the digits is 6 . find the number
a ) 85 , b ) 94 , c ) 83 , d ) 71 , e ) none --- d
"description : = > x + y = 8 , x - y = 6 adding these 2 x = 14 = > x = 7 , y = 1 . thus the number is 71 answer d"

idx 115
from a pack of 52 cards , 1 card is drawn at random . what is the probability that a red king is drawn ?
a ) 1 / 2 , b ) 1 / 4 , c ) 1 / 13 , d ) 1 / 26 , e ) 1 / 52 --- d
"the total number of cards is 52 . the number of red kings is 2 . p ( red king ) = 2 / 52 = 1 / 26 the answer is d ."

idx 792
8597 - ? = 7429 - 4358
a ) 3567 , b ) 6424 , c ) 6835 , d ) 5526 , e ) none of these --- d
"d 7429 - 4358 = 3071 let 8597 - x = 3071 then , x = 8597 - 3071 = 5526"

idx 404
local kennel has cats and dogs in the ratio of 6 : 12 . if there are 24 fewer cats than dogs , how many dogs are in the kennel ?
a ) 50 , b ) 48 , c ) 52 , d ) 54 , e ) 56 --- b
"lets work with the data given to us . we know that there ratio of cats to dogs is 6 : 12 or cats 6 dogs 12 we can write number of cats as 6 x and number of dogs as 12 x and we know that 12 x - 6 x = 24 ( therefore 6 x = 24 = > x = 4 ) then # of dogs = 12 x 4 = 48 answer is b"

idx 1993
positive integer y is 50 percent of 50 percent of positive integer x , and y percent of x equals 9 . what is the value of x ?
a ) 20 , b ) 60 , c ) 100 , d ) 120 , e ) 150 --- b
"y = 0.5 * 0.5 * x = x / 4 y % * x = 9 ( y / 100 ) * x = 9 ( x / 400 ) * x = 9 x ^ 2 = 9 * 400 x = 60 the answer is b ."

idx 1760
a person saved $ 50 in buying an item on sale . if he spent $ 500 for the item , approximately how much percent he saved in the transaction ?
a ) 8 % , b ) 10 % , c ) 2 % , d ) 5 % , e ) 1.8 % --- e
"actual price = 500 + 50 = $ 550 saving = 10 / 550 * 100 = 100 / 55 = 1.8 % approximately answer is e"

In [6]:
manual_results = pd.DataFrame([
    {"index": 1787, "manual_answer": "1060", "comment": ""},
    {"index": 1856, "manual_answer": "1080", "comment": ""},
    {"index": 2060, "manual_answer": "60/13", "comment": "This is 2x less than in the selected correct answer in the data, I think the original question was about total distance there and back, not just distance to school."},
    {"index": 1287, "manual_answer": "279", "comment": ""},
    {"index": 2127, "manual_answer": "4.13", "comment": "The answer in dataset is different, because it does not take into account geometric progression of the number of people"},
    
    {"index": 669, "manual_answer": None, "comment": "Ill-formed question, leads to invalid solution (men performing negative amount of work per day)"},
    {"index": 305, "manual_answer": "10", "comment": ""},
    {"index": 2453, "manual_answer": "1000", "comment": ""},
    {"index": 2475, "manual_answer": "11830", "comment": "But it's not in the options, c) 11190 is closest"},
    {"index": 877, "manual_answer": "10000", "comment": ""},
    
    {"index": 2091, "manual_answer": "5", "comment": "In the options, it's encoded as 105 instead of 5 percent. But 5% seems to me more exact based on wording of the question"},
    {"index": 475, "manual_answer": "284", "comment": ""},
    {"index": 1533, "manual_answer": "7.989614243", "comment": "but arguably, one should use geometric averaging instead of arithmetic averaging. In that case, 0.02018978 would be correct"},
    {"index": 543, "manual_answer": "768", "comment": "Not selected in the data, but I think 768 is the correct option."},
    {"index": 1458, "manual_answer": "71", "comment": "17 would be also correct, but it's not in the options"},
    
    {"index": 115, "manual_answer": "1/26", "comment": ""},
    {"index": 792, "manual_answer": "5526", "comment": ""},
    {"index": 404, "manual_answer": "48", "comment": ""},
    {"index": 1993, "manual_answer": "60", "comment": ""},
    {"index": 1760, "manual_answer": "50/550", "comment": "In options, 10 is closest value. Selected option is incorrect."},
])

In [7]:
df = manual_results.join(df_orig.iloc[ids_for_manual_eval].set_index("index"), on="index", how="left")
df

,index,manual_answer,comment,Problem,Rationale,options,correct,annotated_formula,linear_formula,category
0,1787,1060,,tickets to a certain concert sell for $ 20 eac...,"""price of 1 ticket = 20 $ revenue generated fr...","a ) $ 600 , b ) $ 740 , c ) $ 850 , d ) $ 980 ...",e,"multiply(add(add(subtract(subtract(60, 20), 10...","divide(n2,const_100)|divide(n4,const_100)|subt...",gain
1,1856,1080,,an aeroplane covers a certain distance at a sp...,"""explanation : distance = ( 300 x 6 ) = 1800 k...","a ) 1008 kmph , b ) 760 kmph , c ) 1080 kmph ,...",c,"divide(divide(multiply(300, 6), add(const_1, d...","divide(const_2,const_3)|multiply(n0,n1)|add(#0...",physics
2,2060,60/13,This is 2x less than in the selected correct a...,johnny travels a total of one hour to and from...,"""answer : d ) 9.2 miles . average speed for ro...","a ) 2 miles , b ) 4 miles , c ) 4.8 miles , d ...",d,"multiply(divide(const_1, add(divide(const_1, 6...","divide(const_1,n0)|divide(const_1,n1)|add(#0,#...",physics
3,1287,279,,"a , b and c rents a pasture for rs . 899 . a p...","""12 * 8 : 16 * 9 = 18 * 6 8 : 12 : 9 9 / 29 * ...","a ) 270 , b ) 279 , c ) 267 , d ) 255 , e ) 552",b,"multiply(divide(899, add(add(multiply(12, 8), ...","multiply(n1,n2)|multiply(n3,n4)|multiply(n5,n6...",general
4,2127,4.13,"The answer in dataset is different, because it...","the population of a town increased from 1 , 75...","""explanation : increase in the population in 1...","a ) 4 % , b ) 6 % , c ) 5 % , d ) 50 % , e ) n...",c,add(multiply(divide(subtract(divide(subtract(s...,"add(n2,const_3)|add(const_3,const_4)|multiply(...",general
5,669,None,"Ill-formed question, leads to invalid solution...",if 12 men and 16 boys can do a piece of work i...,"""12 m + 16 b - - - - - 7 days 13 m + 24 b - - ...","a ) 1 : 4 , b ) 1 : 2 , c ) 1 : 3 , d ) 2 : 1 ...",b,"divide(subtract(multiply(4, 24), multiply(7, 1...","multiply(n4,n5)|multiply(n1,n2)|multiply(n0,n2...",physics
6,305,10,,suzie ’ s discount footwear sells all pairs of...,"""let x be pair of shoes and y be pair of boots...","a ) 12 , b ) 11 , c ) 10 , d ) 15 , e ) 16",c,"divide(subtract(540, multiply(22, divide(subtr...","multiply(n2,const_2)|multiply(n0,const_2)|subt...",general
7,2453,1000,,a fruit seller had some oranges . he sells 40 ...,"""60 % of oranges = 600 100 % of oranges = ( 60...","a ) 700 , b ) 710 , c ) 1000 , d ) 730 , e ) 740",c,"add(600, multiply(600, divide(40, const_100)))","divide(n0,const_100)|multiply(n1,#0)|add(n1,#1)|",gain
8,2475,11830,"But it's not in the options, c) 11190 is closest",evaluate : 11110 + 24 * 3 * 10 = ?,"""according to order of operations , 24 ? 3 ? 1...","a ) 90111 , b ) 52631 , c ) 11190 , d ) 65321 ...",c,"subtract(11110, multiply(multiply(24, 3), 10))","multiply(n1,n2)|multiply(n3,#0)|subtract(n0,#1)|",general
9,877,10000,,"a person spends 40 % of his salary on food , 2...","""total expenditure = 40 + 25 + 15 + 5 = 85 % s...","a ) 4000 , b ) 6000 , c ) 8000 , d ) 10000 , e...",d,"divide(multiply(1500, const_100), 5)","multiply(n4,const_100)|divide(#0,n3)|",gain
10,2091,5,"In the options, it's encoded as 105 instead of...",a trader bought a car at 25 % discount on its ...,"""original price = 100 cp = 75 s = 75 * ( 140 /...","a ) 118 , b ) 110 , c ) 105 , d ) 113 , e ) 115",c,multiply(subtract(divide(divide(multiply(subtr...,"add(n1,const_100)|subtract(const_100,n0)|multi...",gain
11,475,284,,find the area of a rhombus one side of which m...,"""let other diagonal = 2 x cm . since diagonals...","a ) 320 cm 2 , b ) 280 cm 2 , c ) 384 cm 2 , d...",c,"add(multiply(multiply(divide(const_1, const_2)...","divide(const_1,const_2)|multiply(n0,n0)|multip...",geometry
12,1533,7.989614243,"but arguably, one should use geometric averagi...","the population of a town increased from 1 , 34...","""explanation : increase in 10 years = ( 242500...","a ) 4.37 % , b ) 7.9 % , c ) 6.8 % , d ) 8.75 ...",b,add(multiply(divide(subtract(divide(subtract(s...,"add(n2,const_3)|add(const_3,const_4)|multiply(...",general
13,543,768,"Not selected in the data, but I think 768 is t...",the population of a bacteria colony doubles ev...,"""3 ^ 8 * ( 2 ) = 13122 the answer is c""","a ) 512 , b ) 768 , c ) 13122 , d ) 2048 , e )...",c,"subtract(power(3, add(8, const_1)), const_1)","add(n0,const_1)|power(n1,#0)|subtract(#1,const...",physics
14,1458,71,"17 would be also correct, but it's not in the ...","the sum of digits of a two digit number is 8 ,...","""description : = > x + y = 8 , x - y = 6 addin...","a ) 85 , b ) 94 , c ) 83 , d ) 71 , e ) none",d,"add(multiply(divide(add(8, 6), const_2), 8), s...","add(n0,n1)|divide(#0,const_2)|multiply(n0,#1)|...",general
15,115,1/26,,"from a pack of 52 cards , 1 card is drawn at r...","""the total number of cards is 52 . the number ...","a ) 1 / 2 , b ) 1 / 4 , c ) 1 / 13 , d ) 1 / 2...",d,"divide(multiply(const_4, const_3), 52)","multiply(const_3,const_4)|divide(#0,n0)|",probability
16,792,5526,,8597 - ? = 7429 - 4358,"""d 7429 - 4358 = 3071 let 8597 - x = 3071 then...","a ) 3567 , b ) 6424 , c ) 6835 , d ) 5526 , e ...",d,"subtract(multiply(divide(8597, const_100), 742...","divide(n0,const_100)|divide(const_1,const_3)|m...",general
17,404,48,,local kennel has cats and dogs in the ratio of...,"""lets work with the data given to us . we know...","a ) 50 , b ) 48 , c ) 52 , d ) 54 , e ) 56",b,"multiply(24, 12)","multiply(n1,n2)|",other
18,1993,60,,positive integer y is 50 percent of 50 percent...,"""y = 0.5 * 0.5 * x = x / 4 y % * x = 9 ( y / 1...","a ) 20 , b ) 60 , c ) 100 , d ) 120 , e ) 150",b,"multiply(multiply(divide(50, 9), divide(50, 9)...","divide(n0,n2)|divide(n1,n2)|multiply(#0,#1)|mu...",general
19,1760,50/550,"In options, 10 is closest value. Selected opti...",a person saved $ 50 in buying an item on sale ...,"""actual price = 500 + 50 = $ 550 saving = 10 /...","a ) 8 % , b ) 10 % , c ) 2 % , d ) 5 % , e ) 1...",e,"add(floor(multiply(divide(50, add(50, 500)), 5...","add(n0,n1)|divide(n0,#0)|multiply(#1,n1)|floor...",general

In [8]:
from transformers import T5ForConditionalGeneration, T5Tokenizer

import gadgets
from gadgets.model import gadget_assisted_model
from gadgets.gadget import Calculator


model_name = "emnlp2023/calc-flan-xl"
GadgetAssistedT5 = gadget_assisted_model(T5ForConditionalGeneration)
model = GadgetAssistedT5.from_pretrained(model_name)
tokenizer = T5Tokenizer.from_pretrained(model_name)

model.prepare_for_generate(tokenizer, 
                           enabled_gadgets=[Calculator()], 
                           default_max_tokens=512)

[2023-08-29 09:46:51,161] [INFO] [real_accelerator.py:133:get_accelerator] Setting ds_accelerator to cuda (auto detect)

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

You are using the legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This means that tokens that come after special tokens will not be properly handled. We recommend you to read the related pull request available at https://github.com/huggingface/transformers/pull/24565

In [9]:
def generate_prediction(question):
    inputs = tokenizer(question, return_tensors="pt")
    output_ids = model.generate(**inputs)
    return tokenizer.decode(output_ids[0], spaces_between_special_tokens=False)


df["model_prediction"] = df["Problem"].apply(generate_prediction)

In [11]:
df["model_result"] = df["model_prediction"].apply(gadgets.markup.from_model_markup).apply(lambda x: x[-1]).fillna("").str.split("=").apply(lambda x: x[0].strip())

In [35]:
df["model_correct"] = df[~df["manual_answer"].isna()].apply(lambda row: gadgets.metrics.are_numeric_results_same(row["model_result"], row["manual_answer"]), axis=1)
df["model_correct"]

0      True
1     False
2     False
3      True
4     False
5       NaN
6     False
7     False
8      True
9     False
10     True
11    False
12    False
13    False
14     True
15    False
16     True
17     True
18    False
19    False
Name: model_correct, dtype: object

In [15]:
baseline_model_name = "emnlp2023/baseline-flan-xl"
baseline_model = T5ForConditionalGeneration.from_pretrained(baseline_model_name)
baseline_tokenizer = T5Tokenizer.from_pretrained(baseline_model_name)

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

In [16]:
def baseline_generate_prediction(question):
    inputs = tokenizer(question, return_tensors="pt")
    output_ids = baseline_model.generate(**inputs, max_length=512)
    return tokenizer.decode(output_ids[0], spaces_between_special_tokens=False, skip_special_tokens=True)

In [18]:
df["baseline_prediction"] = df["Problem"].apply(baseline_generate_prediction)

In [41]:
df["baseline_result"] = df["baseline_prediction"].apply(gadgets.baseline_metrics.get_result_from_output)
df["baseline_result"]

0          860
1          443
2            2
3          299
4            5
5        2 : 1
6           15
7          775
8        11130
9         7500
10          15
11    192 cm 2
12          90
13         288
14          74
15      1 / 13
16        5765
17         144
18         150
19          12
Name: baseline_result, dtype: object

In [39]:
df["baseline_correct"] = df[~df["manual_answer"].isna()].apply(lambda row: gadgets.metrics.are_numeric_results_same(row["baseline_result"], row["manual_answer"]), axis=1)
df["baseline_correct"]

0     False
1     False
2     False
3     False
4     False
5       NaN
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: baseline_correct, dtype: object

In [42]:
df[["index", "manual_answer", "baseline_result", "baseline_correct", "model_result", "model_correct", "comment"]]

,index,manual_answer,baseline_result,baseline_correct,model_result,model_correct,comment
0,1787,1060,860,False,1_060,True,
1,1856,1080,443,False,675,False,
2,2060,60/13,2,False,13,False,This is 2x less than in the selected correct a...
3,1287,279,299,False,279,True,
4,2127,4.13,5,False,1_373/10,False,"The answer in dataset is different, because it..."
5,669,None,2 : 1,NaN,1/2,NaN,"Ill-formed question, leads to invalid solution..."
6,305,10,15,False,225/32,False,
7,2453,1000,775,False,840,False,
8,2475,11830,11130,False,11_830,True,"But it's not in the options, c) 11190 is closest"
9,877,10000,7500,False,7_500,False,
10,2091,5,15,False,5,True,"In the options, it's encoded as 105 instead of..."
11,475,284,192 cm 2,False,84,False,
12,1533,7.989614243,90,False,-290/3,False,"but arguably, one should use geometric averagi..."
13,543,768,288,False,19_682,False,"Not selected in the data, but I think 768 is t..."
14,1458,71,74,False,71,True,"17 would be also correct, but it's not in the ..."
15,115,1/26,1 / 13,False,2/13,False,
16,792,5526,5765,False,5526,True,
17,404,48,144,False,48,True,
18,1993,60,150,False,36,False,
19,1760,50/550,12,False,100/11,False,"In options, 10 is closest value. Selected opti..."